<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talkingandroid.hour20application" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".RetrievePhotoService"
            android:exported="false" >
        </service>
        <service
            android:name=".PhotoService"
            android:exported="false" >
        </service>

        <activity
            android:name=".RetrievePhotosActivity"
            android:label="@string/title_activity_retrieve_photos" >
        </activity>
        <activity
            android:name=".PhotoActivity"
            android:label="@string/title_activity_photo" >
        </activity>

        <provider
            android:name=".FlickrPhotoContentProvider"
            android:authorities="com.talkingandroid.hour20application.provider"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>
